ultralytics>=8.3.0
torch>=2.0.0
torchvision>=0.15.0
opencv-python>=4.8.0
pyyaml>=6.0
numpy>=1.24.0
scipy>=1.10.0
onnx>=1.14.0
onnxruntime>=1.15.0
onnxslim>=0.1.0
lapx>=0.9.0
Pillow>=10.0.0
mediapipe>=1.0.0
git+https://github.com/KaiyangZhou/deep-person-reid.git@master#egg=torchreid
gdown>=4.7.0
paho-mqtt>=1.6.1,<2.0.0
